<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %> <br><br><br>
     
    <div class="container">
        
        <div class="row">
 
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">ERROR 404</h5>
                    <div class="card-body"> 
                      <p class="card-text">Page not found</p>
                      <a href="/">Go back to home page</a>
                    </div>
                </div>
            </div> 
        </div> <br>

        <div class="row">
            <%- include('./partials/footer.ejs') %>
        </div>
    </div>

    
</body>

</html>