<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %> <br><br><br>
     
    <div class="container">
        
        <div class="row">
 
        </div>

        <div class="row">
            <div class="col">

                <div class="card mb-3">
                    <img src="/home.png" class="card-img-top" height="10%" >
                    <div class="card-body">
                      <h5 class="card-title">Welcome to our Smart Home</h5>
                      <p class="card-text">Group 11 - Implementation of a smart home</p>
                      <p class="card-text"><small class="text-muted">Internet of Things</small></p>
                    </div>
                </div>
                  
            </div> 
        </div> <br>

        <div class="row">
            <%- include('./partials/footer.ejs') %>
        </div>
    </div>

    
</body>

</html>